# Python cache
__pycache__/
*.py[cod]

# Virtual environment
.venv/
venv/

# Environment variables
.env

# macOS
.DS_Store

# VS Code
.vscode/

# Jupyter Notebook
.ipynb_checkpoints/

# Google service-account credentials
credentials/
*.json